@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
}

.btn-tazkily{
    padding: 16px 32px;
    color: #FFF;
    background-color: #8828FF;
    box-sizing: border-box;
    border-radius: 40px;
    text-decoration: none;
}

.transparent-btn{
    background-color: #F8F2FF;
    color: #8828FF;
}

.btn-tazkily:hover{
    color: #FFF;
}

.transparent-btn:hover{
    color: #8828FF;
}

.my-100{
    margin: 100px 0;
}

.ms-23{
    margin-left: 23px;
}
.me-23{
    margin-right: 23px;
}

.py-50{
    padding: 50px 0;
}

.py-100{
    padding: 100px 0;
}

.title-bold{
    color: #20184E;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}

.detail-gray{
    margin-top: 20px;
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #666666
}


/* ===========================
        header css starts
==============================*/
header {
    background-image: linear-gradient(to right bottom, #c1bcff, #bdb0ff, #bba4ff, #bb96ff, #bc88ff, #aa91ff, #9999ff, #8ba0ff, #7bb7ff, #7bcbff, #8ddcff, #aaebff);
}

.navbar__brand-left {
    width: 30px;
    height: 30px;
    background-color: #8828FF;
    border-radius: 50%;
    margin-right: 12px;
}

.navbar__brand-left img {
    width: 12px;
    height: 13px;
}

.navbar-toggler-icon{
    color: #8828FF ;
}

.navbar-nav .nav-link {
    color: red;
    margin: 0 20px;
    font-weight: 400;
    font-size: 18px;
}

.navbar-nav .active {
    color: #8828FF;
}

.nav-right .nav-link {
    color: #8828FF;
    font-weight: 500;
    font-size: 16px;
}

.nav-right .nav-link:first-child {
    padding-top: 15px !important;
}

.get__started-btn {
    border: 1.3px solid #8828FF;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 14px 32px !important;
}

.header__bannner__container{
    margin-top: 30px;
}

.header__banner{
    padding: 30px 0 110px 0;
    color: #FFFFFF;
}

.header__bannner__left-title{
    font-weight: 700;
    font-size: 56px;
    text-transform: capitalize;
}

.header__bannner__left-details{
    margin-top: 20px;
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.header__bannner__left-buttons div:first-child{
    margin-right: 56px;
}

.header__bannner__left-buttons .btn-try{
    background-color: transparent !important;
}


/* ===========================
        header css starts
==============================*/


.third__section-img{
    width: 578px;
    height: 531px;
}

.third__section__right-button a{
    color: #8828FF;
    background-color: #F8F2FF;
    font-weight: 500;
    font-size: 16px;
}

.third__section__right-button a:hover{
    color: #8828FF;
}


/* ===========================
        package css starts
==============================*/
.package__section__container{
    background-color: #F9F9FB;
}

.package__section-header{
    width: 45%;
}

.package__duration{
    font-size: 18px;
    font-weight: 400;
}

.package__section .form-switch{
    width: 20%;
    padding-left: 0;
    position: relative;
    top: -7px;
}

.package__section .form-switch .form-check-input{
    margin-left: 0;
    background-image: url('./images/checkbox-bg.png');
    height: 32px;
    border-color: #fff;
}

.package__section .form-check-input:checked {
    background-color: #fff;
    border-color: #fff;
}

.package__section-items{
    margin-top: 67px;
}

.package__section-item .card{
    border-radius: 20px 20px 8px 8px;
}

.card__header{
    padding: 32px 0 32px 40px;
    background: #8828FF;
    border-radius: 20px 20px 8px 8px;
}

.card__header-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #fff;
}

.card__header-price{
    margin-top: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #fff;
}

.card__header-price span{
    margin-left: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

.card__details{
    padding: 39px 0 32px 42px;
}

.card__details ul{
    padding: 0;
}

.card__details ul li{
    list-style: none;
    margin-top: 0;
    margin-bottom: 12px;
}

.card__details-icon i{
    color: #8828FF;
    position: relative;
    top: 1px;
}

.card__details ul li p{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #666666;
}

.card__details-btn{
    margin-top: 40px;
    margin-bottom: 15px;
}

.card__details__special{
    background: #8828FF;
    color: #EDEDED;
    position: relative;
}

.card__details__special .card__details-icon i{
    color: #FFF;
}

.card__details__special .card__details ul li p{
    color: #EDEDED;
}

.card__recommended p{
    padding: 17px 21px 16px 22px;
    background: #FFDA58;
    color: #20184E;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    border-radius: 00px 0px 8px 8px;
}

.card__recommended{
    position: absolute;
    top: 0;
    right: 22px;
}


/* ===========================
    blog css starts
==============================*/
.blog__container__header p{
    margin: 0;
}

.blog__section__items{
    margin-top: 50px;
}

.blog__section-item .card{ 
    padding: 24px;
    background: #FDFDFD;
    border-radius: 20px;
}

.blog__item-left img{
   
    height: 215px;
    width: 184px;
    margin-bottom: 16px;
}

.blog__item-left small{
    color: #ADABB7;
    font-size: 10px;
}

.blog__item-left p{
    color: #8828FF;
    font-size: 14px;
    font-weight: 400;
}

.blog__item-right h1{
    font-size: 24px;
    line-height: 150%;
}

.blog__item-right p{
    margin-bottom: 0;
}

.owl-nav{
    display: flex;
    justify-content: end;
    margin-top: 35px;
}

.owl-prev, .owl-next{
    padding: ;
    background-color: #8828FF !important;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    margin-right: 24px;
}

.owl-prev span, .owl-next span{
    color: white;
    font-size: 18px;
}
.owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
    background-color: #F8F2FF !important;
}

















@media only screen and (max-width: 576px) {
    .title-bold{
        font-size: 28px;
    }
    
    .header__banner{
        padding: 00px 0 30px 0;
    }

    .header__bannner__left-buttons div:first-child{
        margin-right: 20px;
    }

    .third__section__right-title{
        font-size: 32px;
    }

    .package__section{
        padding-bottom: 15px;
    }

    .package__section-header{
        width: 100%;
    }

    .package__section-item{
        margin-bottom: 30px;
    }

    .package__section-item:nth-child(3){
        margin-bottom: 0px;
    }

    .blog__container{
        padding-bottom: 30px;
    }

    .blog__container__header{
        padding-left: 10px;
        margin-bottom: 50px;
    }

    .blog__container__header h1{
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .blog__container__header p{
        margin-bottom: 50px;
        font-size: 16px;
    }

 
  }